Repository tarun-e/red-hat-ai-examples: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label Python changes, Auto-label CI/CD changes

Auto-label Python changes:
  label:
    add:
    - python

Auto-label CI/CD changes:
  label:
    add:
    - ci-cd

inline comments CI
  .gitattributes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/pr-code-review.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  docs/CI_IMPLEMENTATION_SUMMARY.md
  docs/CI_SETUP.md
  docs/QUICK_REFERENCE.md
  examples/llmcompressor/README.md
  examples/llmcompressor/oneshot_pipeline.py
  examples/llmcompressor/requirements.txt
  examples/llmcompressor/workbench_example.ipynb
  pyproject.toml
  requirements-dev.txt
  setup-dev.sh
  test-install.sh
  tests/__init__.py
  tests/test_example.py
Due: Auto-label Python changes, Auto-label CI/CD changes

CI checks
  .github/workflows/code-quality.yml
  .gitignore
  .gitleaks.toml
  .markdownlint.json
  .talismanrc
  README.md
  examples/llmcompressor/README.md
  examples/llmcompressor/oneshot_pipeline.py
  examples/llmcompressor/workbench_example.ipynb
  ruff.toml
  scripts/install-dev-tools.sh
Due: Auto-label Python changes, Auto-label CI/CD changes

adding gitleaks license variable
  .github/workflows/code-quality.yml
Due: Auto-label CI/CD changes

inline comments CI
  examples/llmcompressor/README.md
  examples/llmcompressor/oneshot_pipeline.py
Due: Auto-label Python changes

lint fix
  examples/llmcompressor/oneshot_pipeline.py
  ruff.toml
Due: Auto-label Python changes

Add code quality gating
  .github/workflows/code-quality.yml
  .gitignore
  .gitleaks.toml
  .markdownlint.json
  .pre-commit-config.yaml
  .python-version
  .talismanrc
  CONTRIBUTING.md
  README.md
  examples/llmcompressor/README.md
  examples/llmcompressor/oneshot_pipeline.py
  examples/llmcompressor/requirements.txt
  examples/llmcompressor/workbench_example.ipynb
  pyproject.toml
  ruff.toml
Due: Auto-label Python changes, Auto-label CI/CD changes

fix linting issues
  .pre-commit-config.yaml
  CONTRIBUTING.md
  examples/domain_customization_kfp_pipeline/README.md
  examples/domain_customization_kfp_pipeline/env.example
  examples/domain_customization_kfp_pipeline/kfp_enhanced_summary_knowledge_tuning.py
Due: Auto-label Python changes

initial dependabot config
  .github/dependabot.yml
Due: none

Add code quality gating
  .github/PULL_REQUEST_TEMPLATE.MD
  .github/workflows/code-quality.yml
  .gitignore
  .gitleaks.toml
  .markdownlint.json
  .pre-commit-config.yaml
  .secrets.baseline
  .talismanrc
  CONTRIBUTING.md
  README.md
  assets/usecase/knowledge-tuning/Knowledge Tuning Workflow.excalidraw
  examples/domain_customization_kfp_pipeline/env.example
  examples/domain_customization_kfp_pipeline/kfp_enhanced_summary_knowledge_tuning.py
  examples/knowledge-tuning/.env.example
  examples/knowledge-tuning/00_Setup/.env.example
  examples/knowledge-tuning/00_Setup/00_Setup_README.md
  examples/knowledge-tuning/01_Base_Model_Evaluation/Base_Model_Evaluation.ipynb
  examples/knowledge-tuning/02_Data_Processing/Data_Processing.ipynb
  examples/knowledge-tuning/02_Data_Processing/pyproject.toml
  examples/knowledge-tuning/03_Knowledge_Generation/Knowledge_Generation.ipynb
  examples/knowledge-tuning/04_Knowledge_Mixing/Knowledge_Mixing.ipynb
  examples/knowledge-tuning/04_Knowledge_Mixing/utils/knowledge_utils.py
  examples/knowledge-tuning/05_Model_Training/Model_Training.ipynb
  examples/knowledge-tuning/05_Model_Training/utils/flash_attn_installer.py
  examples/knowledge-tuning/06_Evaluation/Evaluation.ipynb
  examples/llmcompressor/README.md
  examples/llmcompressor/oneshot_pipeline.py
  examples/llmcompressor/requirements.txt
  examples/llmcompressor/workbench_example.ipynb
  ruff.toml
Due: Auto-label Python changes, Auto-label CI/CD changes

Fix lint and formatting in examples/fine-tuning
  .markdownlint.json
  CONTRIBUTING.md
  examples/fine-tuning/osft/README.md
  examples/fine-tuning/osft/osft-example.ipynb
  examples/fine-tuning/training-hub/sft/README.md
  examples/fine-tuning/training-hub/sft/sft.ipynb
Due: none

Add code quality gating
  .github/PULL_REQUEST_TEMPLATE.MD
  .github/workflows/code-quality.yml
  .gitignore
  .gitleaks.toml
  .markdownlint.json
  .pre-commit-config.yaml
  .secrets.baseline
  .talismanrc
  CONTRIBUTING.md
  README.md
  assets/usecase/knowledge-tuning/Knowledge Tuning Workflow.excalidraw
  examples/domain_customization_kfp_pipeline/env.example
  examples/domain_customization_kfp_pipeline/kfp_enhanced_summary_knowledge_tuning.py
  examples/fine-tuning/osft/README.md
  examples/fine-tuning/osft/osft-example.ipynb
  examples/fine-tuning/training-hub/sft/README.md
  examples/fine-tuning/training-hub/sft/sft.ipynb
  examples/knowledge-tuning/.env.example
  examples/knowledge-tuning/00_Setup/.env.example
  examples/knowledge-tuning/00_Setup/00_Setup_README.md
  examples/knowledge-tuning/01_Base_Model_Evaluation/Base_Model_Evaluation.ipynb
  examples/knowledge-tuning/02_Data_Processing/Data_Processing.ipynb
  examples/knowledge-tuning/02_Data_Processing/pyproject.toml
  examples/knowledge-tuning/03_Knowledge_Generation/Knowledge_Generation.ipynb
  examples/knowledge-tuning/04_Knowledge_Mixing/Knowledge_Mixing.ipynb
  examples/knowledge-tuning/04_Knowledge_Mixing/utils/knowledge_utils.py
  examples/knowledge-tuning/05_Model_Training/Model_Training.ipynb
  examples/knowledge-tuning/05_Model_Training/utils/flash_attn_installer.py
  examples/knowledge-tuning/06_Evaluation/Evaluation.ipynb
  examples/llmcompressor/README.md
  examples/llmcompressor/oneshot_pipeline.py
  examples/llmcompressor/requirements.txt
  examples/llmcompressor/workbench_example.ipynb
  ruff.toml
Due: Auto-label Python changes, Auto-label CI/CD changes

Adding dependabot config
  .github/dependabot.yml
Due: none

comment gitleaks
  .github/workflows/code-quality.yml
Due: Auto-label CI/CD changes

Notebook Validation and dependabot config
  .github/dependabot.yml
  .github/workflows/code-quality.yml
Due: Auto-label CI/CD changes

fix readme
  README.md
Due: none

Style guide updates and doc updates
  .github/workflows/notebook-tests.yml
  CONTRIBUTING.md
  assets/usecase/knowledge-tuning/Knowledge Tuning Workflow.excalidraw
  docs/EXAMPLE_STYLE_GUIDE.md
  docs/METADATA_SCHEMA.md
  examples/fine-tuning/rhoai-3.2/osft/osft-example.ipynb
  examples/fine-tuning/rhoai-3.2/training-hub/sft/sft.ipynb
  examples/knowledge-tuning/04_Knowledge_Mixing/utils/knowledge_utils.py
  pyproject.toml
  tests/validation/conftest.py
  tests/validation/test_example_metadata.py
  tests/validation/test_example_structure.py
Due: Auto-label Python changes, Auto-label CI/CD changes

Fix the versions for code-quality
  .github/workflows/code-quality.yml
  tests/validation/test_notebook_content.py
Due: Auto-label Python changes, Auto-label CI/CD changes

Update transformer-trainer example with enhanced documentation and new images
  examples/trainer/transformer-trainer/README.md
  examples/trainer/transformer-trainer/images/create_RWX_storage.png
  examples/trainer/transformer-trainer/images/create_storage.png
  examples/trainer/transformer-trainer/images/create_storage_2.png
  examples/trainer/transformer-trainer/images/create_workbench.png
  examples/trainer/transformer-trainer/images/create_workbench_hardware_profile_options.png
  examples/trainer/transformer-trainer/images/create_workbench_select_hardawre_profile.png
  examples/trainer/transformer-trainer/images/entry_page.png
  examples/trainer/transformer-trainer/images/pause_job.png
  examples/trainer/transformer-trainer/images/project_page.png
  examples/trainer/transformer-trainer/images/start_workbench.png
  examples/trainer/transformer-trainer/images/training_progress.png
  examples/trainer/transformer-trainer/images/trainjob_resources.png
  examples/trainer/transformer-trainer/transformer-trainer-example.ipynb
Due: none

fix linting
  examples/model-serve-flow/05_Compressed_Performance_Benchmarking/Compressed_Performance_Benchmarking.ipynb
Due: none

further edits
  examples/fine-tuning/pipelines/training-hub/README.md
  examples/fine-tuning/pipelines/training-hub/docs/01.png
  examples/fine-tuning/pipelines/training-hub/docs/02.png
  examples/fine-tuning/pipelines/training-hub/docs/03.png
  examples/fine-tuning/pipelines/training-hub/docs/04.png
  examples/fine-tuning/pipelines/training-hub/docs/05.png
  examples/fine-tuning/pipelines/training-hub/docs/06.png
  examples/fine-tuning/pipelines/training-hub/docs/07.png
  examples/fine-tuning/pipelines/training-hub/docs/08.png
  examples/fine-tuning/pipelines/training-hub/docs/09.png
  examples/fine-tuning/pipelines/training-hub/docs/10.png
  examples/fine-tuning/pipelines/training-hub/docs/11.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/README.md
Due: none

Enhance transformer-trainer example notebook with improved documentation and structure
  examples/trainer/transformer-trainer/transformer-trainer-example.ipynb
Due: none

fix linting
  examples/model-serve-flow/01_Base_Accuracy_Benchmarking/01_Base_Accuracy_Benchmarking_README.md
  examples/model-serve-flow/01_Base_Accuracy_Benchmarking/Base_Accuracy_Benchmarking.ipynb
  examples/model-serve-flow/02_Base_Performance_Benchmarking/02_Base_Performance_Benchmarking_README.md
  examples/model-serve-flow/03_Model_Compression/03_Model_Compression_README.md
  examples/model-serve-flow/04_Compressed_Accuracy_Benchmarking/04_Compressed_Accuracy_Benchmarking_README.md
  examples/model-serve-flow/05_Compressed_Performance_Benchmarking/05_Compressed_Performance_Benchmarking_README.md
  examples/model-serve-flow/06_Comparison/06_Comparison_README.md
  examples/model-serve-flow/07_Deployment/RHOAI_Deployment_README.md
  examples/model-serve-flow/07_Deployment/VLLM_Deployment_README.md
  examples/model-serve-flow/README.md
  examples/model-serve-flow/assets/model-serve-flow.excalidraw
  examples/model-serve-flow/docs/Model_Serving_vLLM.md
Due: none

address comments and provide minor improvements
  examples/fine-tuning/pipelines/training-hub/README.md
Due: none

fix file paths in readmes
  examples/model-serve-flow/01_Base_Accuracy_Benchmarking/01_Base_Accuracy_Benchmarking_README.md
  examples/model-serve-flow/02_Base_Performance_Benchmarking/02_Base_Performance_Benchmarking_README.md
  examples/model-serve-flow/03_Model_Compression/03_Model_Compression_README.md
  examples/model-serve-flow/04_Compressed_Accuracy_Benchmarking/04_Compressed_Accuracy_Benchmarking_README.md
  examples/model-serve-flow/05_Compressed_Performance_Benchmarking/05_Compressed_Performance_Benchmarking_README.md
Due: none

doc-updates-model-serve-1 (#1)
  examples/model-serve-flow/00_Setup/00_Setup_README.md
  examples/model-serve-flow/01_Base_Accuracy_Benchmarking/01_Base_Accuracy_Benchmarking_README.md
  examples/model-serve-flow/01_Base_Accuracy_Benchmarking/Base_Accuracy_Benchmarking.ipynb
  examples/model-serve-flow/02_Base_Performance_Benchmarking/02_Base_Performance_Benchmarking_README.md
  examples/model-serve-flow/02_Base_Performance_Benchmarking/Base_Performance_Benchmarking.ipynb
  examples/model-serve-flow/03_Model_Compression/03_Model_Compression_README.md
  examples/model-serve-flow/03_Model_Compression/Model_Compression.ipynb
  examples/model-serve-flow/04_Compressed_Accuracy_Benchmarking/04_Compressed_Accuracy_Benchmarking_README.md
  examples/model-serve-flow/04_Compressed_Accuracy_Benchmarking/Compressed_Accuracy_Benchmarking.ipynb
  examples/model-serve-flow/05_Compressed_Performance_Benchmarking/05_Base_Performance_Benchmarking_README.md
  examples/model-serve-flow/05_Compressed_Performance_Benchmarking/05_Compressed_Performance_Benchmarking_README.md
  examples/model-serve-flow/05_Compressed_Performance_Benchmarking/Compressed_Performance_Benchmarking.ipynb
  examples/model-serve-flow/06_Comparison/06_Comparison_README.md
  examples/model-serve-flow/06_Comparison/Accuracy_Comparison.md
  examples/model-serve-flow/06_Comparison/Performance_Comparison.md
  examples/model-serve-flow/07_Deployment/RHOAI_Deployment_README.md
  examples/model-serve-flow/07_Deployment/VLLM_Deployment_README.md
  examples/model-serve-flow/README.md
  examples/model-serve-flow/assets/model-serve-flow-diagram.png
  examples/model-serve-flow/assets/model-serve-flow.excalidraw
  examples/model-serve-flow/docs/Accuracy_Evaluation.md
  examples/model-serve-flow/docs/Compression.md
  examples/model-serve-flow/docs/Model_Serving_vLLM.md
  examples/model-serve-flow/docs/System_Level_Performance_Benchmarking.md
Due: none

add initial osft minimal pipelines example
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/README.md
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/01.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/02.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/03.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/04.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/05.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/06.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/07.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/08.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/09.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/10.png
  examples/fine-tuning/rhoai-3.3/pipelines/training-hub/osft-minimal/docs/11.png
Due: none

Add example for distributed training using TransformersTrainer on Red Hat OpenShift AI
  examples/trainer/transformer-trainer/README.md
  examples/trainer/transformer-trainer/transformer-trainer-example.ipynb
Due: none

Path conditions:
  Auto-label Python changes: any of: \.py$
  Auto-label CI/CD changes: any of: ^\.github/workflows/
